:root {
    --accent-color: #ffffff;
    --text-color: #212121;
    --background-color-accent: #2f303a;
    --background-color-ourteam: #f5f4fa;
    --additional-text-color: #757575;
    --hover-color: #2196f3;
    --logo-text-color: #000;
  }
  
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    outline: solid 2px red;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }

  .header-logo {
    display: block;
    text-decoration: none;
  }
  
  .header-logo1 {
    color: var(--hover-color);
    font-size: 26px;
    font-family: Raleway;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  
  .header-logo2 {
    color: var(--logo-text-color);
    font-size: 26px;
    font-family: Raleway;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  
  .header-list {
    display: flex;
    gap: 50px;
    margin-right: 344px;
    margin-left: auto;
  }
  
  .header-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .header-link:hover {
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
  }
  
  .header-autorisations {
    display: flex;
    gap: 50px;
  }
  
  .header-contacts {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .header-contacts:hover {
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
  }
  
  /* Hero Section */
  
  .hero-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .hero-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 50px;
  }
  
  .hero-button {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-radius: 4px;
    background: var(--background-color-ourteam);
    padding: 6px 22px 6px 22px;
  }
  
  .hero-button:hover {
    color: var(--accent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
  
    border-radius: 4px;
    background: var(--hover-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }

  .hero-posters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
  }

  .hero-poster {
    flex-basis: calc((100% - (30px * 2)) / 3);
    height: 404px;

  }
  
  .hero-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .hero-text {
    color: var(--additional-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.04em;
    padding-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  footer {
    background-color: var(--background-color-accent);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-logo {
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
  }
  
  .footer-logo1 {
    color: var(--hover-color);
    font-size: 26px;
    font-family: Raleway;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  
  .footer-logo2 {
    color: var(--accent-color);
    font-size: 26px;
    font-family: Raleway;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  
  .footer-address {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    word-wrap: break-word;
    font-style: normal;
    margin-bottom: 9px;
    display: block;
  }
  
  .footer-email {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 9px;
    text-decoration: none;
  }
  
  .footer-phone {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  