.hero {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }

  &__item {
    animation-duration: 1s;
    animation-name: from-up;
  }

  &__button {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    background: $background-color-ourteam;
    padding: 6px 22px;
    outline: none;
    border: none;
    font-family: Roboto;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;

    &:hover,
    &:focus {
      color: $accent-color;
      text-align: center;
      font-size: 16px;
      line-height: 1.6;
      border-radius: 4px;
      background-color: $hover-color;
      box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
        0px 3px 1px 0px #0000001a;
    }
  }

  &__posters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }

  &__link {
    text-decoration: none;
    display: block;
    position: relative;

    &:focus {
      text-decoration: none;
      outline: none;
    }

    &:first-child,
    &:nth-child(4),
    &:nth-child(7) {
      animation-name: from-left;
      animation-duration: 1s;
    }

    &:nth-child(2) {
      animation-name: from-up;
      animation-duration: 1s;
    }

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      animation-name: from-right;
      animation-duration: 1s;
    }

    &:nth-child(8) {
      animation-name: from-down;
      animation-duration: 1s;
    }
  }

  &__poster {
    flex-basis: calc((100% - 2 * 30px) / 3);
    background-color: $accent-color;
    border: 1px solid #eeeeee;
  }

  &__poster:hover &__overlay,
  &__poster:focus &__overlay {
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    transform: scaleY(1);
    transform-origin: bottom;
  }

  &__poster:hover &__overlaytext,
  &__poster:focus &__overlaytext {
    color: $accent-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    position: absolute;
    opacity: 1;
    font-family: Roboto;
  }

  &__poster:hover,
  &__link:focus {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
      0px 1px 1px 0px #0000001f;
    cursor: pointer;
  }

  &__overlay {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, transform;
    transition-duration: 250ms;
    transform: scaleY(0);
  }

  &__overlaytext {
    position: absolute;
    top: 63px;
    left: 23px;
    opacity: 0;
    color: $accent-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
  }

  &__title {
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Roboto;
  }

  &__work {
    color: $additional-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.04em;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Roboto;
  }
}
