.hero {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__container {
    @media screen and (min-width: 1200px) {
      width: 1194px;
    }
  }

  &__list {
    margin-bottom: 40px;
    flex-wrap: wrap;
    display: flex;
    gap: 8px;
    justify-content: auto;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      justify-content: center;
    }
  }

  &__item {
    animation-duration: 1s;
    animation-name: from-up;
  }

  &__button {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    background: $background-color-ourteam;
    padding: 6px 22px;
    outline: none;
    border: none;
    font-family: Roboto;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;

    &:hover,
    &:focus {
      color: $accent-color;
      text-align: center;
      font-size: 16px;
      line-height: 1.6;
      border-radius: 4px;
      background-color: $hover-color;
      box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
        0px 3px 1px 0px #0000001a;
    }
  }

  &__posters {
    @include flexbox($center-y: center, $gap: 30px);
    flex-wrap: wrap;
  }

  &__link {
    text-decoration: none;
    display: block;
    position: relative;

    &:focus {
      text-decoration: none;
      outline: none;
    }

    &:first-child,
    &:nth-child(4),
    &:nth-child(7) {
      animation-name: from-left;
      animation-duration: 1s;
    }

    &:nth-child(2) {
      animation-name: from-up;
      animation-duration: 1s;
    }

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      animation-name: from-right;
      animation-duration: 1s;
    }

    &:nth-child(8) {
      animation-name: from-down;
      animation-duration: 1s;
    }
  }

  &__poster {
    position: relative;
    background-color: $accent-color;
    border: 1px solid #eeeeee;
    max-width: 450px;
    width: 100%;
    max-height: 404px;

    @media screen and (min-width: 768px) {
      width: 352px;
      height: 440px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
      height: 404px;
      flex-basis: calc((100% - 2 * 30px) / 3);
    }
  }

  &__poster:hover &__overlay,
  &__poster:focus &__overlay {
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    transform: scaleY(1);
    transform-origin: bottom;
    max-width: 480px;
    width: 100%;
    max-height: 294px;

    @media screen and (min-width: 480px) {
      width: 450px;
      height: 294px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 294px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
      height: 294px;
    }
  }

  &__poster:hover &__overlaytext,
  &__poster:focus &__overlaytext {
    color: $accent-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    position: absolute;
    opacity: 1;
    font-family: Roboto;

    @media screen and (min-width: 480px) {
      width: 402px;
      font-size: 18px;
    }

    @media screen and (min-width: 768px) {
      width: 306px;
      font-size: 18px;
    }

    @media screen and (min-width: 1200px) {
      width: 322px;
      font-size: 18px;
    }
  }

  &__poster:hover,
  &__link:focus {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
      0px 1px 1px 0px #0000001f;
    cursor: pointer;
  }

  &__overlay {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, transform;
    transition-duration: 250ms;
    transform: scaleY(0);
  }

  &__overlaytext {
    position: absolute;
    top: 63px;
    left: 23px;
    opacity: 0;
    color: $accent-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
  }

  &__title {
    color: $text-color;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Roboto;
    @extend %title-styles;
  }

  &__image {
    max-width: 450px;
    width: 100%;
    max-height: 294px;

    @media screen and (min-width: 480px) {
      width: 450px;
      height: 294px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 294px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
      height: 294px;
    }
  }

  &__work {
    color: $additional-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.04em;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: Roboto;
  }
}
