@keyframes from-up {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes from-left {
    0% {
        transform: translateX(-300px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes from-right {
    0% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes from-down {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}