.footer {
  background-color: $background-color-accent;
  padding-top: 60px;
  padding-bottom: 60px;
  animation-name: from-down;
  animation-duration: 1s;

  &__container {
    flex-direction: row;
    align-content: normal;
    row-gap: 20px;
    @include flexbox($position-x: start)
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;

    &:focus {
      display: block;
      margin-bottom: 20px;
      text-decoration: none;
    }
  }

  &__logo1 {
    color: $hover-color;
    font-size: 26px;
    font-family: Raleway;
    @extend %title-styles;
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  &__logo2 {
    color: $accent-color;
    font-size: 26px;
    font-family: Raleway;
    @extend %title-styles;
    margin-bottom: 20px;
  }

  &__address {
    color: $accent-color;
    @extend %text-styles;
    line-height: 1.71;
    word-wrap: break-word;
    font-style: normal;
    margin-bottom: 9px;
    display: block;
    font-family: Roboto;
  }

  &__email {
    color: $additional-text-color;
    @extend %text-styles;
    line-height: 1.7;
    display: block;
    margin-bottom: 9px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
  }

  &__phone {
    color: $additional-text-color;
    @extend %text-styles;
    line-height: 1.7;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
  }

  &__icons {
    margin-left: 70px;
  }

  &__subtitle {
    color: $accent-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Roboto;
  }

  &__least {
    @include flexbox($gap: 10px);
  }

  &__contacts {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 23px;
    display: block;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;

    &:hover,
    &:focus {
      background-color: $hover-color;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $accent-color;
    cursor: pointer;
    padding: 12px;
  }
}

.basement {
  &__form {
    margin-left: 93px;
    width: 570px;
  }

  &__title {
    color: $accent-color;
    font-size: 14px;
    font-style: normal;
    @extend %title-styles;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Roboto;
  }

  &__container {
    @include flexbox()
  }

  &__input {
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    padding-left: 16px;
    color: #fff;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.48px;
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    @extend %button-styles;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 10px 28px 10px 28px;
    @include flexbox($position-x: center, $center-y: center)
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    fill: $accent-color;
  }
}
