.header {
  width: 100%;
  background-color: $accent-color;
  animation-name: from-up;
  animation-duration: 1s;
  border: $border-linia 1px solid;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__container {
    @include flexbox($center-y: center);
  }

  &__logo {
    display: block;
    text-decoration: none;

    &:focus {
      display: block;
      text-decoration: none;
    }
  }

  &__logo1 {
    color: $hover-color;
    font-family: Raleway;
    @extend %title-styles;
    font-size: 24px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }

  &__logo2 {
    color: $logo-text-color;
    font-family: Raleway;
    @extend %title-styles;
    font-size: 24px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      @include flexbox($gap: 50px);
      margin-right: 96px;
      margin-left: 88px;
    }

    @media screen and (min-width: 1200px) {
      @include flexbox($gap: 50px);
      margin-right: 315px;
      margin-left: auto;
    }
  }

  &__item:hover &__link::after {
    opacity: 1;
  }

  &__link {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 250ms;
    font-family: Roboto;

    &:hover {
      color: $hover-color;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.02em;
    }

    &:focus {
      color: $hover-color;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.02em;
    }

    &::after {
      display: block;
      background-color: $hover-color;
      position: absolute;
      bottom: -32px;
      right: 0px;
      opacity: 0;
      content: "";
      height: 4px;
      width: 100%;
      border-radius: 2px;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
      transition-property: $hover-color;
    }
  }

  &__autorisations {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    @media screen and (min-width: 768px) {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      @include flexbox($gap: 10px);
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      @include flexbox($gap: 30px);
      flex-direction: row;
    }
  }

  &__item2 {
    @include flexbox($center-y: center);
    color: $additional-text-color;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;

    &:hover {
      color: $hover-color;
      cursor: pointer;
    }

    &:focus {
      color: $hover-color;
    }
  }

  &__contacts {
    color: $additional-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    @include flexbox($center-y: center);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 250ms;
    font-family: Roboto;

    &:hover {
      color: $hover-color;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.02em;
    }

    &:focus {
      color: $hover-color;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.02em;
    }
  }

  &__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $additional-text-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    transition-duration: 250ms;

    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
    }

    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }

  &__phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $additional-text-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    transition-duration: 250ms;

    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }

    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }

  &__autorisations &__item2:hover &__mail,
  &__autorisations &__item2:hover &__phone,
  &__autorisations &__item2:hover &__contacts,
  &__contacts:focus &__mail,
  &__contacts:focus &__phone,
  &__contacts:focus {
    fill: $hover-color;
    color: $hover-color;
    cursor: pointer;
  }
}
