.customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    @extend %title-styles;
    font-size: 28px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: 28px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  &__icons {
    @include flexbox($gap: 30px);
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__contacts {
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, fill;
    transition-duration: 250ms;
    width: 210px;
    height: 92px;

    @media screen and (min-width: 768px) {
      width: 226px;
      height: 92px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
      height: 92px;
    }

    &:hover,
    &:focus {
      border: $hover-color 1px solid;
    }

    &:hover .customers-icon,
    &:focus .customers-icon {
      fill: $hover-color;
      border: 1px solid $hover-color;
    }

    &:first-child,
    &:nth-last-child(4),
    &:nth-last-child(5) {
      animation-name: from-left;
      animation-duration: 1s;
    }

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3) {
      animation-name: from-right;
      animation-duration: 1s;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    fill: #afb1b8;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    transition-duration: 250ms;
    padding: 16px 52px;
    
    @media screen and (min-width: 768px) {
      padding: 16px 60px;
    }

    @media screen and (min-width: 1200px) {
      padding: 16px 32px;
    }

    &:hover {
      fill: $hover-color;
    }
  }
}
