.info-section {
    padding-top: 94px;
  }
  
  .information-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .info-list {
    display: flex;
    gap: 30px;
  }
  
  .info-item::before {
    display: block;
    border-radius: 4px;
    background: var(--background-color-ourteam);
    padding: 25px 100px 25px 100px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
  
  .info-item:first-child::before {
    content: url(../img/antenna.svg);
    width: 70px;
    height: 70px;
  }
  
  .info-item:nth-child(2)::before {
    content: url(../img/clock.svg);
    width: 70px;
    height: 70px;
  }
  
  .info-item:nth-child(3)::before {
    content: url(../img/diagram.svg);
    width: 70px;
    height: 70px;
  }
  
  .info-item:last-child::before {
    content: url(../img/astronaut.svg);
    width: 70px;
    height: 70px;
  }
  
  .info-item:first-child, .info-item:nth-child(2) {
    animation-name: from-left;
    animation-duration: 1s;
  }
  
  .info-item:last-child, .info-item:nth-child(3) {
    animation-name: from-right;
    animation-duration: 1s;
  }
  
  .info-title {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .info-text {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-family: Roboto;
  }