.backdrop {
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(3px);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: $accent-color;
  padding: 40px;

  @media screen and (min-width: 480px) {
    width: 450px;
}

@media screen and (min-width: 1200px) {
    width: 528px;
}

  &__form {
    flex-direction: column;
    @include flexbox($center-y: center)
  }

  &__btnclose {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: solid 1px;
    border-radius: 50%;
    color: $accent-color;
    @include flexbox($center-y: center, $position-x: center);
    cursor: pointer;
    stroke: rgba(0, 0, 0, 0.1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: fill;

    &:hover {
      fill: $hover-color;
    }
  }

  &__close {
    width: 18px;
    height: 18px;

    &:hover {
      fill: $hover-color;
    }
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 20px;
    line-height: 23.44px;
    margin-bottom: 12px;
    font-family: Roboto;
    @extend %title-styles;
  }

  &__list {
    flex-direction: column;
    @include flexbox($gap: 10px, $center-y: center);
  }

  &__item {
    flex-direction: column;
    position: relative;
    @include flexbox();
  }

  &__item:hover &__icon,
  &__item:hover &__input,
  &__item:hover &__input1 {
    fill: $hover-color;
    border-color: $hover-color;
  }

  &__label {
    color: $additional-text-color;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1%;
    margin-bottom: 4px;
    font-family: Roboto;
  }

  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 240px;
    padding-left: 41px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: fill, border-color;

    @media screen and (min-width: 480px) {
      width: 370px;
    }

    @media screen and (min-width: 1200px) {
      width: 448px;
    }

    &:hover {
      fill: $hover-color;
      border-color: $hover-color;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 15px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: fill, border-color;

    &:hover {
      fill: $hover-color;
      border-color: $hover-color;
    }
  }

  &__input1 {
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 283px;
    height: 96px;
    padding: 12px 16px 65px 16px;
    text-align: left;
    color: $text-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: fill, border-color;
    font-family: Roboto;

    @media screen and (min-width: 480px) {
      width: 413px;
    }

    @media screen and (min-width: 1200px) {
      width: 491px;
    }
  }

  &__agrees {
    margin-top: 20px;
    margin-bottom: 30px;
    @include flexbox($position-x: center, $center-y: center);

  }

  &__agrinput {
    width: 16px;
    height: 15px;
  }

  &__agrlabel {
    color: $additional-text-color;
    @extend %text-styles;
    font-style: normal;
    line-height: 24px;
    margin-left: 7px;
    margin-right: 5px;
    font-family: Roboto;
  }

  &__agrlink {
    color: $hover-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    font-family: Roboto;

    @media screen and (min-width: 480px) {
      font-size: 14px;
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: $hover-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.96px;
    @extend %button-styles;
  }
}
