.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $background-color-ourteam;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__container {
    @include flexbox($center-y: center, $position-x: center);
    flex-direction: column;
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    @extend %title-styles;
    margin-bottom: 50px;
    font-family: Roboto;
  }

  &__list {
    @include flexbox($gap: 30px);
  }

  &__item {
    background-color: $accent-color;
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
      0px 1px 3px 0px #0000001f;

    &:first-child,
    &:nth-child(2) {
      animation-name: from-left;
      animation-duration: 1s;
    }

    &:last-child,
    &:nth-child(3) {
      animation-name: from-right;
      animation-duration: 1s;
    }
  }

  &__photo {
    margin-bottom: 30px;
  }

  &__name {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    font-family: Roboto;
  }

  &__job {
    color: $additional-text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    font-family: Roboto;
  }

  &__icons {
    @include flexbox();
    column-gap: 10px;
    padding: 0px 32px;
    padding-bottom: 30px;
  }

  &__contacts {
    @include flexbox();
    width: 44px;
    height: 44px;
    border-radius: 23px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill;
    transition-duration: 250ms;

    &:hover,
    &:focus {
      background-color: $hover-color;
    }

    &:hover &__icon,
    &:focus &__icon {
      fill: $accent-color;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    cursor: pointer;
    padding: 12px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    transition-duration: 250ms;

    &:hover {
      fill: $accent-color;
    }
  }
}




