.work-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  .work-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .work-title {
    color: $text-color;
    font-family: Roboto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
  }
  
  .work-list {
    display: flex;
    gap: 30px;
  }
  
  .work-item {
    position: relative;
    z-index: -1;
  }
  
  .work-item:first-child {
    animation-name: from-left;
    animation-duration: 1s;
  }
  
  .work-item:nth-child(2) {
    animation-name: from-up;
    animation-duration: 1s;
  }
  
  .work-item:last-child {
    animation-name: from-right;
    animation-duration: 1s;
  }
  
  .work-text {
    color: $accent-color;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03px;
    width: 370px; 
    padding: 27px 0px;
    background-color: rgba(47, 48, 58, 0.80);
    position: absolute;
    top: 225px;
    font-family: Roboto;
  }